Source: usermode
Section: system
Priority: optional
Maintainer: Jean-Sébastien <jeanseb@sourceforge.net>
Standards-Version: 3.2.1

Package: usermode
Architecture: any
Depends: ${shlibs:Depends}
Description: Linux Driver for ECI hifocus ADSL modem
 User mode driver for adsl modem based on globespan chipsets.
