Source: eciadsl-usermode
Section: net
Priority: optional
Maintainer: Benoit PAPILLAULT <benoit.papillault@free.fr>
Build-Depends: debhelper (>> 4.0.0)
Standards-Version: 3.6.2.1

Package: eciadsl-usermode
Architecture: any
Depends: ${shlibs:Depends}, ppp, bash
Recommends: tk8.4|wish, pppoe
Description: usermode drivers for eci adsl modem.
 The eciadsl-usermode package contains the driver for the ADSL USB modem
 called ECI Hi-Focus. It is not a kernel module, but a user-mode program
 that handles the modem. A kernel module is under development.
